/* Color Theme Swatches in Hex */
$bordo: #591E29;
$openblue: #588C8C;
$darkorange: #D9B166;
$darkpink: #A6806A;
$openred: #F26B5E;


/* Color Theme Swatches in Hex */
$pink1: #FF5678;
$pink2: #FF7598;
$pink3: #FF979D;
$pink4: #FFB4BF;
$pink5: #FFB9DF;
$white : #004411;
$blue : blue